@font-face {
	font-family: "Press Start 2P";
	src: url(../fonts/PressStart2P.ttf);
}

body{
	/*background-image: url(../img/bg.jpg);*/
	background-color: #202124;
	font-family: "Press Start 2P", sans-serif;
}

.clock-container{
	text-align: center;
	color: #ccc;
	border-style: double;
	margin: 0 33.33%;
	padding: 10px 0;
}

.container1{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #6D6875;
	max-width: 480px;
	border-style: solid;
	/*border-radius: 4px;  --- round corners ---*/ 
	border-color: #FFCDB2;
	box-shadow: 6px 8px #121212;
}

h1{
	color: #FFCDB2;
	text-align: center;	
	font-size: 24px;
	line-height: 1.6;
}

h2 span{
	position: relative;
	bottom: -9px;
	background: #6D6875;
	padding: 0 4px;
}

h2{
	border-bottom: 2px solid #FFCDB2;
	color: #FFCDB2;
	/* margin: 10px 10px; */ 
	text-align: center;	
	font-size: 18px;

}

h3{
	border-bottom: 2px solid #FFCDB2;
	color: #FFCDB2;
	margin: 10px 10px; 
	text-align: center;	
	font-size: 14px;
	line-height: 2.8;
} 
/*
.box{
	margin: 24px auto;
	background-color: #000000;
	border-style: solid;
	border-radius: 4px;  --- round corners ---
	border-color: #ffffff; 
	
} */
a{
	color: #FFCDB2;
	padding: 4px 0;
	font-size: 14px;
	text-decoration: none;
}

lu{
	padding: 2px;
}

li{
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	padding: 6px 2px;
	margin: 6px 2px;
}
